[data-role="header"] ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

[data-role="header"] li {
    float: left;
}

[data-role="header"] li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

[data-role="header"] li a:hover {
    background-color: #111;
}
